<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />

	<title>Footer With Address And Phones</title>

	<!--<link rel="stylesheet" href="{{ url_for('static', filename = 'demo.css') }}">-->
	<link rel="stylesheet" href="{{ url_for('static', filename = 'footer.css') }}">
	
	<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>

	<body>


		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Elsys<span>Gruppe 5</span></h3>

				<p class="footer-links">
					<a href="#"><i class="fa fa-home"></i> Hjem</a>
					·
					<a href="http://jakobvahlin.com/stov"><i class="fa fa-info"></i> Om produktet</a>
					·
					

					<a href="#"><i class="fa fa-users"></i> Om oss</a>
			
					·
					<a href="https://gr5.vannovervakning.com/om#kontaktheading"><i class="fa fa-phone"></i> Kontakt</a>
				</p>

				<p class="footer-company-name">Elsys Gruppe 5 &copy; 2019</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Koopen, Gløshaugen</span> Trondheim, Norge</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+69 69696969</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">gr5@vannovervakning.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Om oss</span>
					Vi overvåker skikkelig mye nais vann. Du kan takke oss senere
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

	</body>

<style type="text/css">

</style>
</html>
